In [1]:
import pandas as pd
from datasets import load_dataset
import os

In [2]:
!ls ../data

dataset.csv  tieng_hmong_1.xlsx  tieng_hmong_2.xlsx  words.xlsx

In [3]:
df = pd.read_excel('../data/words.xlsx', header=None)
df = df[[0, 1]]
df

             0       1
0          kêl    thấp
1          saz     cao
2          lux     lớn
3          yaz     mới
4         jông     tốt
..         ...     ...
773        hêv     dọa
774  jênhx xưv  dân số
775    Jăngx 1   Bài 1
776    Jăngx 2   Bài 2
777    Jăngx 3   Bài 3

[778 rows x 2 columns]

In [4]:
df_tmp = pd.read_excel('../data/tieng_hmong_1.xlsx', header=None)
df_tmp = df_tmp[[0, 1]]
df = pd.concat([df, df_tmp])
df

         0         1
0      kêl      thấp
1      saz       cao
2      lux       lớn
3      yaz       mới
4     jông       tốt
..     ...       ...
119   Đhâu       Qua
120  Txơưv        Sẽ
121   Suôz  Âm thanh
122   Lâul      Trầm
123   Maol      Bổng

[902 rows x 2 columns]

In [5]:
df_tmp = pd.read_excel('../data/tieng_hmong_2.xlsx', header=None)
df_tmp = df_tmp[[0, 1]]
df = pd.concat([df, df_tmp])
df

,0,1
0,kêl,thấp
1,saz,cao
2,lux,lớn
3,yaz,mới
4,jông,tốt
...,...,...
308,"Ôx, cur tsi uô, puôz muôx yêz meir nak cha puô...","Ồ, ông không làm đâu, chúng nó đi xe máy thì c..."
309,"Tsi zaos lê, muôx cêr maox nhix mak pêz môngl ...","Không phải đâu ông ạ, có đường bê tông thì mìn..."
310,Ơưx! zaos tas cax? Cur txênhr tak uô cêr tangz...,"Ừ đúng rồi nhỉ, thế mà ông cứ nghĩ là làm đườn..."
311,"Zơưv ax, muôx cêr maox nhix mak muôx ntâu ô t...","Ông ơi, có đường bê tông mới có nhiều xe ô tô ..."
312,"Zaos lê tas, uô changl cur tưz xangr tsi tơưv....","Đúng rồi, thế mà ông không nghĩ ra. Vậy, ông v..."

In [6]:
df = df.rename(columns={0: 'mong', 1: 'vietnamese'})
df

,mong,vietnamese
0,kêl,thấp
1,saz,cao
2,lux,lớn
3,yaz,mới
4,jông,tốt
...,...,...
308,"Ôx, cur tsi uô, puôz muôx yêz meir nak cha puô...","Ồ, ông không làm đâu, chúng nó đi xe máy thì c..."
309,"Tsi zaos lê, muôx cêr maox nhix mak pêz môngl ...","Không phải đâu ông ạ, có đường bê tông thì mìn..."
310,Ơưx! zaos tas cax? Cur txênhr tak uô cêr tangz...,"Ừ đúng rồi nhỉ, thế mà ông cứ nghĩ là làm đườn..."
311,"Zơưv ax, muôx cêr maox nhix mak muôx ntâu ô t...","Ông ơi, có đường bê tông mới có nhiều xe ô tô ..."
312,"Zaos lê tas, uô changl cur tưz xangr tsi tơưv....","Đúng rồi, thế mà ông không nghĩ ra. Vậy, ông v..."

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1215 entries, 0 to 312
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   mong        1214 non-null   object
 1   vietnamese  1214 non-null   object
dtypes: object(2)
memory usage: 28.5+ KB

In [8]:
def normalize(text):
    text = text.strip()
    text = text.strip('.').strip(',').strip(':').strip(';').strip('?').strip('!').strip('"').strip("'")
    text = text.replace("'", "").replace('"', '').replace('“', '').replace('”', '').replace('‘', '').replace('’', '')
    text = text.lower()
    return text

df.dropna(inplace=True)
df['mong'] = df['mong'].apply(normalize)
df['vietnamese'] = df['vietnamese'].apply(normalize)
df

,mong,vietnamese
0,kêl,thấp
1,saz,cao
2,lux,lớn
3,yaz,mới
4,jông,tốt
...,...,...
308,"ôx, cur tsi uô, puôz muôx yêz meir nak cha puô...","ồ, ông không làm đâu, chúng nó đi xe máy thì c..."
309,"tsi zaos lê, muôx cêr maox nhix mak pêz môngl ...","không phải đâu ông ạ, có đường bê tông thì mìn..."
310,ơưx! zaos tas cax? cur txênhr tak uô cêr tangz...,"ừ đúng rồi nhỉ, thế mà ông cứ nghĩ là làm đườn..."
311,"zơưv ax, muôx cêr maox nhix mak muôx ntâu ô t...","ông ơi, có đường bê tông mới có nhiều xe ô tô ..."
312,"zaos lê tas, uô changl cur tưz xangr tsi tơưv....","đúng rồi, thế mà ông không nghĩ ra. vậy, ông v..."

In [9]:
df.to_csv('../data/dataset.csv', index=False)

In [10]:
dataset = load_dataset('csv', data_files='../data/dataset.csv')
dataset

Generating train split: 0 examples [00:00, ? examples/s]

DatasetDict({
    train: Dataset({
        features: ['mong', 'vietnamese'],
        num_rows: 1214
    })
})